<a href="https://colab.research.google.com/github/wbandabarragan/computational-physics-1/blob/main/unit-1/104-python-basics-review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Operations with Python

Python can be used as a scientific calculator.

This only requires lauching an interpreter and using the correct syntax to carry out mathematical operations.

## 1. Math operations:

In [1]:
# Addition

1 + 3

4

In [2]:
# Multiplication/Division

(2 * 10)/(5)

4.0

In [3]:
_*7

28.0

# 2. The math library:

In [4]:
import math

In [5]:
math.cos(0)

1.0

In [6]:
math.sqrt(4)

2.0

In [7]:
math.exp(2)

7.38905609893065

In [8]:
math.exp(math.log(10))

10.000000000000002

In [9]:
math.factorial(3)

6

In [10]:
math.comb?

In [11]:
1/0

ZeroDivisionError: ignored

In [12]:
1/math.inf

0.0

In [13]:
math.inf * 3

inf

In [14]:
math.inf/math.inf

nan

## 3. Complex numbers

In [15]:
complex(3,4)

(3+4j)

In [16]:
-1 + 2j

(-1+2j)

## 4. Data types:

int: integers

float: floating point numbers

complex: complex numbers


The command type() allows to check which type you are dealing with.

In [17]:
type(12)

int

In [18]:
type(12.)

float

In [19]:
type(3+4j)

complex

## 5. Logical operators:

They are very helpful when dealing with conditionals:

In [20]:
# Compare two numbers

2 == 3

False

In [21]:
2 < 3

True

In [22]:
# And, Not, Or

(2 and not 2) and (2 and 2)

False

In [23]:
(4 > 3) + (2 > 1)

2

## 6. Variables:

= This is called assignment operator!

In [24]:
# Define variables

a = 3
b = 3.

In [25]:
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [26]:
# Operations with variables

c = b*2.

print(c)

6.0

In [27]:
%whos

Variable   Type      Data/Info
------------------------------
a          int       3
b          float     3.0
c          float     6.0
math       module    <module 'math' (built-in)>

In [28]:
# Another operation for a

a = b+1.

In [29]:
%whos

Variable   Type      Data/Info
------------------------------
a          float     4.0
b          float     3.0
c          float     6.0
math       module    <module 'math' (built-in)>

In [30]:
t = 0.

print(t)

0.0

In [31]:
t = t + 1.

print(t)

1.0

## 7. Data structures:

- Strings: characters -> text

- Lists: native to python

- Tuples: Sets of data

- Sets, Dictionaries.

- Arrays (Numpy)

7.1 Strings:

In [32]:
# Examples 

d = "file"

print(type(d))

print(len(d))

<class 'str'>
4

In [33]:
# Empty string

e = " "

print(type(e), len(e))

<class 'str'> 1

In [34]:
# Access specific character

f = "file001"

In [35]:
# Python indexes from 0, and the [] are used for indexing.
print(f[6])
print(f[4:7])

1
001

In [36]:
print(f.count("0"))
print(f.replace("00", "01"))

2
file011

## 7.2 Lists:

To define lists we use [].

In [37]:
list_1 = [4,7,9]

print(type(list_1))

<class 'list'>

In [38]:
list_2 = ["Hola",7,9]

print(list_2)
print(type(list_2))

['Hola', 7, 9]
<class 'list'>

In [39]:
# Indexing

print(list_2[0])
print(list_2[2])
print(list_2[-2])

Hola
9
7

In [40]:
# length of the list

len(list_2)

3

In [41]:
# Concatenate lists

list_3 = list_1 + list_2

print(list_3)

[4, 7, 9, 'Hola', 7, 9]

In [42]:
# Empty list

m = []

print(m)

m.append(1)

print(m)

[]
[1]

In [43]:
m.append(2)

print(m)

[1, 2]

In [44]:
# String to list

d_list = list(d)

print(d_list)

['f', 'i', 'l', 'e']

## 7.3 Tuples:

To define lists we use ().

In [45]:
# Define a tuple

tuple_1 = (100, 200, 300)

print(type(tuple_1))

<class 'tuple'>

In [47]:
# Use indexing

print(tuple_1[0:2])

(100, 200)

In [48]:
print(len(tuple_1))

3

In [49]:
print(tuple_1.count(100))

1

In [53]:
# Differences between tuples and lists

list_1 = [100, 200, 300]

# Change an element within the list

list_1[2] = 500

print(list_1)

# Can we do the same with tuples? NO.

#tuple_1[2] = 500 # This gives us an error
# TypeError: 'tuple' object does not support item assignment

[100, 200, 500]

In [55]:
# Tuples can receive objects via unpacking
# Let's get the elements from list_1

print(list_1)

x, y, z = list_1

print(x, y, z)

[100, 200, 500]
100 200 500

In [57]:
# Parethesis are not strictly needed to generate tuples
# But they are desired highly

tuple_2 = 7,8,9

print(type(tuple_2))

<class 'tuple'>

7.4 Sets:
To define lists we use {} (curly brackets). Allow for some basic operations:

- Unions
- Intersections
- Differences

In [58]:
{1, 1, 2, 3, 4, 4, 5, 6, 6, 7, 7, 7}

{1, 2, 3, 4, 5, 6, 7}

In [59]:
print(type({1, 1, 2, 3, 4, 4, 5, 6, 6, 7, 7, 7}))

<class 'set'>

In [63]:
# Operations via set():

# The unique elements can be found like this:

set_1 = set([1, 1, 2, 3, 4, 4, 5, 6, 6, 7, 7, 7])

print(set_1)

{1, 2, 3, 4, 5, 6, 7}

In [65]:
# This is for tuples

set_2 = set((1, 1, 2, 3, 4, 4, 5, 6, 6, 7, 7, 7))

print(set_2)

{1, 2, 3, 4, 5, 6, 7}

In [66]:
# For strings:

set_3 = set("Yachay")

print(set_3)

{'a', 'c', 'Y', 'y', 'h'}

In [69]:
# Define a new set
set_4 = set((5,6,7, 8, 9, 10))

print(set_4)

{5, 6, 7, 8, 9, 10}

In [70]:
# Union operation

set_2.union(set_4)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [71]:
# Intersection;

set_2.intersection(set_4)

{5, 6, 7}

7.5 Dictionaries: To define dictionaries we also use {} (curly brackets), but need to define "keys" to individual elements. Allow for some basic operations:

In [72]:
# Define a dictionary:

dict_1 = {"CP1": 7 , "QM1": 6 , "ED1": 6, "GR": 9}

print(type(dict_1))

<class 'dict'>

In [73]:
# Indexing works with the keys:

print(dict_1["QM1"])

6

In [75]:
# Print out the keys available

dict_1.keys()

dict_keys(['CP1', 'QM1', 'ED1', 'GR'])

In [76]:
# Print the length of the dictionary

print(len(dict_1))

4

In [77]:
# Empty dictionaries:

universities_dict = {}

In [79]:
# Fill up the dictionary:

universities_dict["Yachay"] = "Imbabura"

print(universities_dict)

{'Yachay': 'Imbabura'}

In [81]:
universities_dict["EPN"] = "Pichincha"

print(universities_dict)

{'Yachay': 'Imbabura', 'EPN': 'Pichincha'}

In [82]:
universities_dict["Espol"] = "Guayas"

print(universities_dict)

{'Yachay': 'Imbabura', 'EPN': 'Pichincha', 'Espol': 'Guayas'}

In [83]:
universities_dict["Ecuador code"] = 593

print(universities_dict)

{'Yachay': 'Imbabura', 'EPN': 'Pichincha', 'Espol': 'Guayas', 'Ecuador code': 593}

In [87]:
# Adding multiple elements in one go:
# https://www.programiz.com/python-programming/methods/dictionary/update
universities_dict.update({"UTA": "Tungurahua", "ESPOCH": "Chimborazo"})

In [86]:
print(universities_dict)

{'Yachay': 'Imbabura', 'EPN': 'Pichincha', 'Espol': 'Guayas', 'Ecuador code': 593, 'UTA': 'Tungurahua', 'ESPOCH': 'Chimborazo'}

In [88]:
# Remove elements from dictionary via del()

del universities_dict["Ecuador code"]

In [89]:
print(universities_dict)

{'Yachay': 'Imbabura', 'EPN': 'Pichincha', 'Espol': 'Guayas', 'UTA': 'Tungurahua', 'ESPOCH': 'Chimborazo'}

In [90]:
%whos

Variable            Type      Data/Info
---------------------------------------
a                   float     4.0
b                   float     3.0
c                   float     6.0
d                   str       file
d_list              list      n=4
dict_1              dict      n=4
e                   str
f                   str       file001
list_1              list      n=3
list_2              list      n=3
list_3              list      n=6
m                   list      n=2
math                module    <module 'math' (built-in)>
set_1               set       {1, 2, 3, 4, 5, 6, 7}
set_2               set       {1, 2, 3, 4, 5, 6, 7}
set_3               set       {'a', 'c', 'Y', 'y', 'h'}
set_4               set       {5, 6, 7, 8, 9, 10}
t                   float     1.0
tuple_1             tuple     n=3
tuple_2             tuple     n=3
universities_dict   dict      n=5
x                   int       100
y                   int       200
z                   int       500

In [91]:
print(x)

100

In [92]:
del x

In [93]:
print(x)

NameError: ignored

In [94]:
%whos

Variable            Type      Data/Info
---------------------------------------
a                   float     4.0
b                   float     3.0
c                   float     6.0
d                   str       file
d_list              list      n=4
dict_1              dict      n=4
e                   str
f                   str       file001
list_1              list      n=3
list_2              list      n=3
list_3              list      n=6
m                   list      n=2
math                module    <module 'math' (built-in)>
set_1               set       {1, 2, 3, 4, 5, 6, 7}
set_2               set       {1, 2, 3, 4, 5, 6, 7}
set_3               set       {'a', 'c', 'Y', 'y', 'h'}
set_4               set       {5, 6, 7, 8, 9, 10}
t                   float     1.0
tuple_1             tuple     n=3
tuple_2             tuple     n=3
universities_dict   dict      n=5
y                   int       200
z                   int       500